<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Creating-Functions" data-toc-modified-id="Creating-Functions-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating Functions</a></span></li><li><span><a href="#Calling-Functions" data-toc-modified-id="Calling-Functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Calling Functions</a></span></li><li><span><a href="#Default-Argument-Values" data-toc-modified-id="Default-Argument-Values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Default Argument Values</a></span></li></ul></li><li><span><a href="#Lists" data-toc-modified-id="Lists-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#List-Methods" data-toc-modified-id="List-Methods-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>List Methods</a></span></li></ul></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionary-Methods" data-toc-modified-id="Dictionary-Methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Dictionary Methods</a></span></li></ul></li><li><span><a href="#Nesting" data-toc-modified-id="Nesting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Nesting</a></span><ul class="toc-item"><li><span><a href="#Nested-Structures" data-toc-modified-id="Nested-Structures-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nested Structures</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#List-and-Dictionary-Comprehensions" data-toc-modified-id="List-and-Dictionary-Comprehensions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>List and Dictionary Comprehensions</a></span><ul class="toc-item"><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>List Comprehension</a></span><ul class="toc-item"><li><span><a href="#Another-List-Comprehension-Example" data-toc-modified-id="Another-List-Comprehension-Example-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Another List Comprehension Example</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Dictionary-Comprehension" data-toc-modified-id="Dictionary-Comprehension-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Dictionary Comprehension</a></span><ul class="toc-item"><li><span><a href="#zip" data-toc-modified-id="zip-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span><code>zip</code></a></span><ul class="toc-item"><li><span><a href="#Dictionary-Comprehension-Using-zip" data-toc-modified-id="Dictionary-Comprehension-Using-zip-6.2.1.1"><span class="toc-item-num">6.2.1.1&nbsp;&nbsp;</span>Dictionary Comprehension Using <code>zip</code></a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li></ul></li><li><span><a href="#More-Exercises" data-toc-modified-id="More-Exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>More Exercises</a></span></li></ul></div>

In [2]:
# No imports today

def two_divide(num):
    div_num = num//2
    return div_num

print(two_divide(9))

4

# Objectives

- Write functions to transform data
- Construct list and dictionary comprehensions
- Extract data from nested data structures

# Functions

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

## Creating Functions

The first line will read:

```python

'def' function_name() ':'

```

Any arguments to the function will go in the parentheses.

Let's try building a function that will automate the task of finding how many times a given number can be evenly divided by 2.

In [3]:
# Let's code it!
def two_divide(num):
    div_num = num//2
    return div_num

4

## Calling Functions

To _call_ a function, simply type its name, along with any necessary arguments in parentheses.

In [4]:
# Let's call it!
two_divide(99)

49

## Default Argument Values

Sometimes we'll want the argument(s) of our function to have default values.

In [5]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'

In [6]:
cheers('greg', 'scientist', 130)

"Hooray for greg. You're a scientist and you're 130!"

In [7]:
cheers(job='scientist', age=130, person='greg')

"Hooray for greg. You're a scientist and you're 130!"

In [8]:
cheers('cristian', 'git enthusiast')

"Hooray for cristian. You're a git enthusiast and you're 30!"

In [9]:
cheers()

"Hooray for aaron. You're a data scientist and you're 30!"

# Lists

## List Methods

Make sure you're comfortable with the following list methods:

- `.append()`: adds the input element to the end of a list
- `.pop()`: removes and returns the element with input index from the list
- `.extend()`: adds the elements in the input iterable to the end of a list
- `.index()`: returns the first place in a list where the argument is found
- `.remove()`: removes element by value
- `.count()`: returns the number of occurrences of the input element in a list

In [12]:
#create a test_list

test_list = list(range(1,11))

In [13]:
# access individual elements / zero indexed

# list_name[index_value]
test_list[0]

1

In [14]:
# slicing from start to end, first inclusive, second exclusive
test_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#slice from start, include first four values
test_list[:4]

[1, 2, 3, 4]

In [17]:
#slice from given index to end
test_list[4:]

[5, 6, 7, 8, 9, 10]

In [20]:
# append
test_list.append(12)

test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 12, 12]

In [23]:
# pop

test_list.pop()

test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
test_list

In [24]:
#create more numbers
new_list = list(range(1,19,2))

new_list

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [157]:
# extend

new_list

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 1,
 'abcdef',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f']

In [28]:
# index
new_list.index(7)

3

In [44]:
#remove

[3, 5, 7, 9, 11, 13, 15, 17, 'a', 'b', 'c', 'd', 'e', 'f', 1]

In [46]:
# count
new_list.count(1)

1

In [ ]:
# loop over list

In [50]:
# enumerate
enumerate(new_list)

In [ ]:
# multiple data types
# first with extend

In [ ]:
# now with append

In [ ]:
#check out the data types!

# Dictionaries

## Dictionary Methods

Make sure you're comfortable with the following dictionary methods:

- `.keys()`: returns an array of the dictionary's keys
- `.values()`: returns an array of the dictionary's values
- `.items()`: returns an array of key-value tuples

In [95]:
#Create a practice dictionary prac_dict
short_dict =[ {'color': 'orange & black',
             'sound': 'cry',
             'shape': 'cat-like'},
             
             {'color': 'black',
             'sound': 'screech',
             'shape': 'primate'},
             
             {'color': 'red',
             'sound': 'bark',
             'shape': 'large dog'}

            ]
short_dict[1]

{'color': 'black', 'sound': 'screech', 'shape': 'primate'}

In [54]:
# .keys()
short_dict.keys()

dict_keys(['color', 'sound', 'shape'])

In [55]:
# .values()
short_dict.values()

dict_values(['orange & black', 'cry', 'cat-like'])

In [56]:
# items()
short_dict.items()

dict_items([('color', 'orange & black'), ('sound', 'cry'), ('shape', 'cat-like')])

In [57]:
# look a a key
short_dict['color']

'orange & black'

In [64]:
# try to index it

# Nesting

## Nested Structures

It will be well worth your while to practice accessing data in complex structures. Consider the following:

In [88]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],'books': []}, 'id': 1},
    
    'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
    
    'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

['bill', 'dolph', 'pat']

**Q**: How would we access 'I Am a Bunny'?
<br/>
**A**: The outermost "layer" has a name: 'customers', and that object is a dictionary:
<br/>
`customers`
<br/>
The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located:
<br/>
`customers['pat']`
<br/>
The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases':
<br/>
`customers['pat']['purchases']`
<br/>
The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is `books`:
<br/>
`customers['pat']['purchases']['books']`
<br/>
The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list:
<br/>
`customers['pat']['purchases']['books'][1]`

## Exercises

1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [98]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'jo√©l', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

phone_list = []
for i in phone_nos:
    
    
phone_list

SyntaxError: invalid syntax (2867521911.py, line 9)

2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

In [93]:
customer_movies = {}

for i in customers.keys():
    customer_movies[i] = customers[i]['purchases']['movies']
    
customer_movies

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

# List and Dictionary Comprehensions

## List Comprehension

List comprehension is a handy way of generating a new list from existing iterables.

Suppose I start with a simple list.

In [100]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

What I want now to do is to build a new list that comprises doubles of primes. I can do this with list comprehension!

The syntax is: `[ f(x) for x in <iterable>]`

In [101]:
prime_doubles = [x*2 for x in primes]
prime_triples = [x*3 for x in primes]

In [102]:
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [103]:
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [104]:
# create a list with a range called comp_test
comp_test = list(range(1,21))

What if I want to have a conditional?

The syntax is: `[ f(x) for x in <iterable> if condition]`

In [106]:
# Conditional comprehension
# create a list of odd numbers
odd_nums = [x for x in comp_test if x%2 != 0]

odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

What if I want to do an if/else?

The syntax is: `[ f(x) if conditional else g(x) for x in <iterable>]`

In [116]:
# if-else comprehension
# create a list with 'odd' if odd, and 'even' if even
odd_even = ['odd' if x%2 !=0 else 'even' for x in comp_test]

odd_even

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

##### Aside: List Comprehensions Vs. `for`-Loops

Yes, I could do the same work with for-loops:

In [ ]:
# simple

In [ ]:
# test
prime_doubles == prime_doubles2

In [ ]:
# conditional

In [ ]:
# if-else

But list comprehensions are more efficient: The syntax is simpler, and they're also faster. Also, you'll see them in other people's code, so you'll have to know how to work with them!

### Another List Comprehension Example

I can use list comprehension to build a list from objects other than lists:

In [117]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [name.split() for name in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [118]:
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [ ]:
# Nested Comps!

### Exercises

1. Use a list comprehension to extract the odd numbers from this set:

In [120]:
nums = set(range(1000))

nums

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999}

In [122]:
odd_set = [x for x in nums if x % 2 !=0]

odd_set

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

2. Use a list comprehension to take the first character of each string from the following list of words.

In [124]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [125]:
first_letter = [word[0] for word in words] 

first_letter

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

In [128]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [129]:
rnamesq = [name+'?' for name in names if name[0] == 'R']

rnamesq

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

## Dictionary Comprehension

Much like list comprehension, I can use dictionary comprehension to build dictionaries from existing iterables.

In [130]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}

Remember that the `.items()` method will return a collection of doubles:

In [131]:
my_dict.items()

dict_items([('who', 'flatiron school'), ('what', 'data science'), ('when', 'now'), ('where', 'here'), ('why', '$'), ('how', 'python')])

So I can use a pair of variables to range over it:

In [132]:
{k: v + '!' for k, v in my_dict.items() if k.startswith('w')}

{'who': 'flatiron school!',
 'what': 'data science!',
 'when': 'now!',
 'where': 'here!',
 'why': '$!'}

The same thing works for any collections of doubles:

In [133]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

{0: 1, 4: 9, 16: 25}

### `zip`

Remember that `zip` is a handy way of pairing up two or more iterables:

In [134]:
dict(zip(range(5), ['apple', 'orange', 'banana', 'lime', 'blueberry']))

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'lime', 4: 'blueberry'}

In [135]:
# Zipping multiple iterables together
tuple(zip(range(1, 5), 'a'*4, 'b'*4, 'c'*4, 'd'*4, 'e'*4))

((1, 'a', 'b', 'c', 'd', 'e'),
 (2, 'a', 'b', 'c', 'd', 'e'),
 (3, 'a', 'b', 'c', 'd', 'e'),
 (4, 'a', 'b', 'c', 'd', 'e'))

#### Dictionary Comprehension Using `zip`

In [136]:
{k: v for k, v in zip(range(5), range(0, 10, 2))}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [137]:
scores = [.858, .873, .868]
{'model' + str(j+1): scores[j] for j in range(3)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

### Exercises

1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:

In [138]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

In [139]:
tuple(zip(list1, list2))

(('USA', 'Washington'),
 ('France', 'Paris'),
 ('Canada', 'Ottawa'),
 ('Thailand', 'Bangkok'))

2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.

In [140]:
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']

In [145]:
tuple(zip('fictional character'*len(chars), chars))

(('f', 'Pinocchio'),
 ('i', 'Gilgamesh'),
 ('c', 'Kumar Patel'),
 ('t', 'Toby Flenderson'))

Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions.

In [146]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]

In [147]:
[[item[0] for item in small_list] for small_list in lists]

[['m', 'a', 'n'], ['r', 'c', 's']]

# More Exercises

1. Build a function that will return $2^n$ for an input $n$.

In [150]:
def two_to_the_n(n):
    return 2**n

two_to_the_n(3)

8

2. Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

In [155]:
def justnumbers(j):
    return j.strip('\"'- )

SyntaxError: invalid syntax (487803419.py, line 2)

3. Build a function that returns the mode of a list of numbers.

In [156]:
def modenum(numberlist):
    highnum = 0
    occurs = 0
    for i in numberlist:
        if numberlist.count(i) > occurs:
            occurs = numberlist.count(i)
            highnum = i
    return highnum

In [159]:
modenum(new_list)

'a'