<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df

heart_df = pd.read_csv('./data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [4]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [6]:
# Let's grab just one column
age_series = heart_df['age']

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [7]:
# Grab the same column as an attribute
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [8]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [9]:
# Check out the dataframe index
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [10]:
# Check out the series index
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [11]:
# Check out the dataframe columns
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [12]:
# Now try with the series
heart_df.series

AttributeError: 'DataFrame' object has no attribute 'series'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [15]:
# Check out the dataframe values
age_series.values

array([63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, 48, 49, 64, 58, 50, 58,
       66, 43, 69, 59, 44, 42, 61, 40, 71, 59, 51, 65, 53, 41, 65, 44, 54,
       51, 46, 54, 54, 65, 65, 51, 48, 45, 53, 39, 52, 44, 47, 53, 53, 51,
       66, 62, 44, 63, 52, 48, 45, 34, 57, 71, 54, 52, 41, 58, 35, 51, 45,
       44, 62, 54, 51, 29, 51, 43, 55, 51, 59, 52, 58, 41, 45, 60, 52, 42,
       67, 68, 46, 54, 58, 48, 57, 52, 54, 45, 53, 62, 52, 43, 53, 42, 59,
       63, 42, 50, 68, 69, 45, 50, 50, 64, 57, 64, 43, 55, 37, 41, 56, 46,
       46, 64, 59, 41, 54, 39, 34, 47, 67, 52, 74, 54, 49, 42, 41, 41, 49,
       60, 62, 57, 64, 51, 43, 42, 67, 76, 70, 44, 60, 44, 42, 66, 71, 64,
       66, 39, 58, 47, 35, 58, 56, 56, 55, 41, 38, 38, 67, 67, 62, 63, 53,
       56, 48, 58, 58, 60, 40, 60, 64, 43, 57, 55, 65, 61, 58, 50, 44, 60,
       54, 50, 41, 51, 58, 54, 60, 60, 59, 46, 67, 62, 65, 44, 60, 58, 68,
       62, 52, 59, 60, 49, 59, 57, 61, 39, 61, 56, 43, 62, 63, 65, 48, 63,
       55, 65, 56, 54, 70, 62, 35, 59, 64, 47, 57, 55, 64, 70, 51, 58, 60,
       77, 35, 70, 59, 64, 57, 56, 48, 56, 66, 54, 69, 51, 43, 62, 67, 59,
       45, 58, 50, 62, 38, 66, 52, 53, 63, 54, 66, 55, 49, 54, 56, 46, 61,
       67, 58, 47, 52, 58, 57, 58, 61, 42, 52, 59, 40, 61, 46, 59, 57, 57,
       55, 61, 58, 58, 67, 44, 63, 63, 59, 57, 45, 68, 57, 57],
      dtype=int64)

In [16]:
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [18]:
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [19]:
heart_df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [20]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [21]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [22]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [23]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [24]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

Let's pause and interpret - any observations?

-

In [25]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [26]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [31]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,Fox,Brown
1,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,Australian Cattle Dog,Tricolor
2,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,Pit Bull Mix,White/Brown
3,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown
4,A860618,Pupperoni,2022-06-30T18:37:00.000,2022-06-30T18:37:00.000,East 1St And Anthony in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Pomeranian,Brown

In [33]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A860631,A860631,2022-07-01 09:13:00,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,Fox,Brown
1,A860630,NaN,2022-07-01 08:34:00,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,Australian Cattle Dog,Tricolor
2,A860622,Meshe,2022-06-30 21:52:00,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,Pit Bull Mix,White/Brown
3,A860621,NaN,2022-06-30 19:56:00,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown
4,A860618,Pupperoni,2022-06-30 18:37:00,2022-06-30T18:37:00.000,East 1St And Anthony in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Pomeranian,Brown

In [34]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [39]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')

In [40]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,Domestic Shorthair,Brown Tabby
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,Fox,Brown
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,Australian Cattle Dog,Tricolor
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,Pit Bull Mix,White/Brown
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown

In [42]:
# Check the last 5 rows
df.tail()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
995,A859023,A859023,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 days,Domestic Shorthair,Orange Tabby
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair,Black/White
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,Domestic Shorthair,Black/White
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Brown Tabby/White
999,A859013,Lucy Lu,2022-06-07T16:24:00.000,2022-06-07T16:24:00.000,7330 Bluff Springs in Austin (TX),Owner Surrender,Normal,Cat,Intact Male,1 month,Domestic Shorthair,Brown Tabby/White

In [44]:
# Check the shape
df.shape

(1000, 12)

In [45]:
# Check the datatypes
df.dtypes

animal_id           object
name                object
datetime            object
datetime2           object
found_location      object
intake_type         object
intake_condition    object
animal_type         object
sex_upon_intake     object
age_upon_intake     object
breed               object
color               object
dtype: object

In [47]:
# Check more general information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         1000 non-null   object
 1   name              802 non-null    object
 2   datetime          1000 non-null   object
 3   datetime2         1000 non-null   object
 4   found_location    1000 non-null   object
 5   intake_type       1000 non-null   object
 6   intake_condition  1000 non-null   object
 7   animal_type       1000 non-null   object
 8   sex_upon_intake   1000 non-null   object
 9   age_upon_intake   1000 non-null   object
 10  breed             1000 non-null   object
 11  color             1000 non-null   object
dtypes: object(12)
memory usage: 93.9+ KB

In [54]:
# Check summary/descriptive statistics on the dataframe
df.describe()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
count,1000,802,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,995,752,596,596,445,5,5,4,5,39,149,110
top,A859061,Max,2022-06-16T17:47:00.000,2022-06-16T17:47:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair,Black/White
freq,2,4,12,12,221,633,871,483,413,208,253,93

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [48]:
# Dictionary, where keys match the column names and values are the row values
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'Year': [2022],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

How can we add this to the bottom of our dataset?

In [49]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row)

In [50]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
df_augmented = pd.concat([df, new_animal], ignore_index = True)

In [51]:
# Let's check the end to make sure we were successful!
df_augmented.shape

(1001, 24)

In [52]:
df.shape

(1000, 12)

In [53]:
df_augmented.tail()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,A859013,Lucy Lu,2022-06-07T16:24:00.000,2022-06-07T16:24:00.000,7330 Bluff Springs in Austin (TX),Owner Surrender,Normal,Cat,Intact Male,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/28/2022 11:25:00 AM,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [57]:
# Create a new column, 'test', where every value in the col is 0

df_augmented['test'] = df_augmented['Year']

In [58]:
# Sanity check
df_augmented.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

But we don't need that - let's drop that column.

In [59]:
# Drop that test column
df_augmented.drop(columns = ['test'])

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,A859013,Lucy Lu,2022-06-07T16:24:00.000,2022-06-07T16:24:00.000,7330 Bluff Springs in Austin (TX),Owner Surrender,Normal,Cat,Intact Male,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/28/2022 11:25:00 AM,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [63]:
# Sanity check
df_augmented

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,A859013,Lucy Lu,2022-06-07T16:24:00.000,2022-06-07T16:24:00.000,7330 Bluff Springs in Austin (TX),Owner Surrender,Normal,Cat,Intact Male,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/28/2022 11:25:00 AM,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [64]:
# Create a new column, 'Type', from the two 'Type' columns
df_augmented['Type'] = df_augmented['Intake Type'] + " " + df_augmented['Animal Type']

In [65]:
# Sanity check
df_augmented.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!

In [ ]:
# Make that into a new column

In [ ]:
# Sanity check

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [66]:
# Check which rows have an intake year greater than or equal to 2020
df_augmented['Year'] >= 2020

0       False
1       False
2       False
3       False
4       False
        ...
996     False
997     False
998     False
999     False
1000     True
Name: Year, Length: 1001, dtype: bool

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [68]:
# Create a subset dataframe of animals taken in during or after 2020
subset_2020 = df_augmented.loc[df_augmented['Year'] >= 2020]

In [70]:
# Sanity check
subset_2020.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public Assist Cat

We can return only certain columns when we do this, by adding an argument after the condition:

In [71]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[df_augmented['Year'] >= 2020, ['Animal ID', 'DateTime', 'Type']]

     Animal ID               DateTime               Type
1000   A851755  2/28/2022 11:25:00 AM  Public Assist Cat

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [76]:
# Find all the Stray Cats taken in during or after 2020
df_augmented.loc[(df_augmented['intake_type'] == 'Stray') & (df_augmented['animal_type'] == 'Cat')]

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A860616,NaN,2022-06-30T17:53:00.000,2022-06-30T17:53:00.000,8885 Research in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,A860608,A860608,2022-06-30T17:05:00.000,2022-06-30T17:05:00.000,Southwest Trails in Austin (TX),Stray,Normal,Cat,Unknown,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,A860602,Jia,2022-06-30T16:36:00.000,2022-06-30T16:36:00.000,7719 Elkhorn Mountain Trail in Austin (TX),Stray,Normal,Cat,Intact Female,2 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,A860603,Jin,2022-06-30T16:36:00.000,2022-06-30T16:36:00.000,7719 Elkhorn Mountain Trail in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,A859022,A859022,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,A859023,A859023,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [77]:
# Find the first 3 rows
df_augmented.iloc[:3]

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# Same as using head(3)
df_augmented.head(3)

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Can look exactly where the 0 index is
df_augmented.iloc[100]

animal_id                                  A860492
name                                           NaN
datetime                   2022-06-29T11:31:00.000
datetime2                  2022-06-29T11:31:00.000
found_location      6311 Waynesburg in Austin (TX)
intake_type                                  Stray
intake_condition                            Normal
animal_type                                    Cat
sex_upon_intake                            Unknown
age_upon_intake                           7 months
breed                           Domestic Shorthair
color                                   Lynx Point
Animal ID                                      NaN
Name                                           NaN
DateTime                                       NaN
Year                                           NaN
Found Location                                 NaN
Intake Type                                    NaN
Intake Condition                               NaN
Animal Type                                    NaN
Sex upon Intake                                NaN
Age upon Intake                                NaN
Breed                                          NaN
Color                                          NaN
Type                                           NaN
Name: 100, dtype: object

In [80]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_2020.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public Assist Cat

In [83]:
# Try it...
subset_2020.iloc[0]

animal_id                             NaN
name                                  NaN
datetime                              NaN
datetime2                             NaN
found_location                        NaN
intake_type                           NaN
intake_condition                      NaN
animal_type                           NaN
sex_upon_intake                       NaN
age_upon_intake                       NaN
breed                                 NaN
color                                 NaN
Animal ID                         A851755
Name                             T'Challa
DateTime            2/28/2022 11:25:00 AM
Year                               2022.0
Found Location               Houston (TX)
Intake Type                 Public Assist
Intake Condition                   Normal
Animal Type                           Cat
Sex upon Intake             Neutered Male
Age upon Intake                   4 years
Breed                  Domestic Shorthair
Color                               Black
Type                    Public Assist Cat
Name: 1000, dtype: object

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [88]:
# Check the value counts for Animal Type
df_augmented['animal_type'].value_counts()

Cat      483
Dog      461
Other     51
Bird       5
Name: animal_type, dtype: int64

In [86]:
df_augmented['Bree']

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A860633,NaN,2022-07-01T10:25:00.000,2022-07-01T10:25:00.000,1503 Darold in Travis (TX),Stray,Normal,Cat,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,A859019,A859019,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A859021,A859021,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,4 days,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A859020,A859020,2022-06-07T16:55:00.000,2022-06-07T16:55:00.000,3600 Presidential Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,A859013,Lucy Lu,2022-06-07T16:24:00.000,2022-06-07T16:24:00.000,7330 Bluff Springs in Austin (TX),Owner Surrender,Normal,Cat,Intact Male,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public Assist Cat

In [ ]:
# Now check Breed
df_augmented[]

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [89]:
# Use the normalize argument to view as percentages
df_augmented['animal_type'].value_counts(normalize=True)

Cat      0.483
Dog      0.461
Other    0.051
Bird     0.005
Name: animal_type, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [93]:
# Let's sort the year column
df_augmented.animal_type.sort_values()

623      Bird
459      Bird
55       Bird
136      Bird
216      Bird
        ...
409     Other
559     Other
927     Other
415     Other
1000      NaN
Name: animal_type, Length: 1001, dtype: object

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.